Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea


# Ignore all files...
*

# ...but include these:
!/.gitignore
!/Source/
!/Source/**